@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_toDo_unnamedVariant) {
  --mixin-5tW0FBtLAeS57_font-family: "Inter", sans-serif;
  --mixin-5tW0FBtLAeS57_font-size: 16px;
  --mixin-5tW0FBtLAeS57_font-weight: 400;
  --mixin-5tW0FBtLAeS57_font-style: normal;
  --mixin-5tW0FBtLAeS57_color: #535353;
  --mixin-5tW0FBtLAeS57_text-align: left;
  --mixin-5tW0FBtLAeS57_text-transform: none;
  --mixin-5tW0FBtLAeS57_line-height: 1.5;
  --mixin-5tW0FBtLAeS57_letter-spacing: normal;
  --mixin-5tW0FBtLAeS57_white-space: pre-wrap;
  --mixin-5tW0FBtLAeS57_user-select: text;
  --mixin-5tW0FBtLAeS57_text-decoration-line: none;
  --mixin-5tW0FBtLAeS57_text-overflow: clip;
  --mixin-AsgJczbT2qeyK_color: #000000;
  --mixin-AsgJczbT2qeyK_font-weight: 700;
  --mixin-AsgJczbT2qeyK_font-size: 64px;
  --mixin-AsgJczbT2qeyK_line-height: 1;
  --mixin-AsgJczbT2qeyK_letter-spacing: -1px;
  --mixin-AsgJczbT2qeyK_white-space: pre-wrap;
  --mixin-FPxtunTfDVwuI_color: #000000;
  --mixin-FPxtunTfDVwuI_font-size: 48px;
  --mixin-FPxtunTfDVwuI_font-weight: 700;
  --mixin-FPxtunTfDVwuI_letter-spacing: -0.5px;
  --mixin-FPxtunTfDVwuI_line-height: 1.1;
  --mixin-FPxtunTfDVwuI_white-space: pre-wrap;
  --mixin-hjuu-weRzaWvA_color: #0070f3;
  --mixin-hjuu-weRzaWvA_white-space: pre-wrap;
  --mixin-8SD2J7Igh9_Yg_color: #000000;
  --mixin-8SD2J7Igh9_Yg_font-size: 32px;
  --mixin-8SD2J7Igh9_Yg_font-weight: 600;
  --mixin-8SD2J7Igh9_Yg_line-height: 1.2;
  --mixin-8SD2J7Igh9_Yg_white-space: pre-wrap;
  --mixin-u5m7RxKu2NfWP_color: #000000;
  --mixin-u5m7RxKu2NfWP_font-size: 24px;
  --mixin-u5m7RxKu2NfWP_font-weight: 600;
  --mixin-u5m7RxKu2NfWP_line-height: 1.3;
  --mixin-u5m7RxKu2NfWP_white-space: pre-wrap;
  --mixin-b0IS246sBReti_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-b0IS246sBReti_border-bottom-color: #dddddd;
  --mixin-b0IS246sBReti_border-bottom-style: solid;
  --mixin-b0IS246sBReti_border-bottom-width: 1px;
  --mixin-b0IS246sBReti_border-left-color: #dddddd;
  --mixin-b0IS246sBReti_border-left-style: solid;
  --mixin-b0IS246sBReti_border-left-width: 1px;
  --mixin-b0IS246sBReti_border-right-color: #dddddd;
  --mixin-b0IS246sBReti_border-right-style: solid;
  --mixin-b0IS246sBReti_border-right-width: 1px;
  --mixin-b0IS246sBReti_border-top-color: #dddddd;
  --mixin-b0IS246sBReti_border-top-style: solid;
  --mixin-b0IS246sBReti_border-top-width: 1px;
  --mixin-b0IS246sBReti_border-bottom-left-radius: 3px;
  --mixin-b0IS246sBReti_border-bottom-right-radius: 3px;
  --mixin-b0IS246sBReti_border-top-left-radius: 3px;
  --mixin-b0IS246sBReti_border-top-right-radius: 3px;
  --mixin-b0IS246sBReti_font-family: "Inconsolata";
  --mixin-b0IS246sBReti_padding-bottom: 1px;
  --mixin-b0IS246sBReti_padding-left: 4px;
  --mixin-b0IS246sBReti_padding-right: 4px;
  --mixin-b0IS246sBReti_padding-top: 1px;
  --mixin-b0IS246sBReti_white-space: pre-wrap;
  --mixin-e8N422fG6IZzu_border-left-color: #dddddd;
  --mixin-e8N422fG6IZzu_border-left-style: solid;
  --mixin-e8N422fG6IZzu_border-left-width: 3px;
  --mixin-e8N422fG6IZzu_color: #888888;
  --mixin-e8N422fG6IZzu_padding-left: 10px;
  --mixin-e8N422fG6IZzu_white-space: pre-wrap;
  --mixin-of4K8sB5yrVm8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-of4K8sB5yrVm8_border-bottom-color: #dddddd;
  --mixin-of4K8sB5yrVm8_border-bottom-style: solid;
  --mixin-of4K8sB5yrVm8_border-bottom-width: 1px;
  --mixin-of4K8sB5yrVm8_border-left-color: #dddddd;
  --mixin-of4K8sB5yrVm8_border-left-style: solid;
  --mixin-of4K8sB5yrVm8_border-left-width: 1px;
  --mixin-of4K8sB5yrVm8_border-right-color: #dddddd;
  --mixin-of4K8sB5yrVm8_border-right-style: solid;
  --mixin-of4K8sB5yrVm8_border-right-width: 1px;
  --mixin-of4K8sB5yrVm8_border-top-color: #dddddd;
  --mixin-of4K8sB5yrVm8_border-top-style: solid;
  --mixin-of4K8sB5yrVm8_border-top-width: 1px;
  --mixin-of4K8sB5yrVm8_border-bottom-left-radius: 3px;
  --mixin-of4K8sB5yrVm8_border-bottom-right-radius: 3px;
  --mixin-of4K8sB5yrVm8_border-top-left-radius: 3px;
  --mixin-of4K8sB5yrVm8_border-top-right-radius: 3px;
  --mixin-of4K8sB5yrVm8_font-family: "Inconsolata";
  --mixin-of4K8sB5yrVm8_padding-bottom: 3px;
  --mixin-of4K8sB5yrVm8_padding-left: 6px;
  --mixin-of4K8sB5yrVm8_padding-right: 6px;
  --mixin-of4K8sB5yrVm8_padding-top: 3px;
  --mixin-of4K8sB5yrVm8_white-space: pre-wrap;
  --mixin-nzUTa34vjTkZ1_display: flex;
  --mixin-nzUTa34vjTkZ1_flex-direction: column;
  --mixin-nzUTa34vjTkZ1_align-items: stretch;
  --mixin-nzUTa34vjTkZ1_justify-content: flex-start;
  --mixin-nzUTa34vjTkZ1_list-style-position: outside;
  --mixin-nzUTa34vjTkZ1_padding-left: 40px;
  --mixin-nzUTa34vjTkZ1_position: relative;
  --mixin-nzUTa34vjTkZ1_list-style-type: disc;
  --mixin-nzUTa34vjTkZ1_white-space: pre-wrap;
  --mixin-BP9CpD0GxWoLL_display: flex;
  --mixin-BP9CpD0GxWoLL_flex-direction: column;
  --mixin-BP9CpD0GxWoLL_align-items: stretch;
  --mixin-BP9CpD0GxWoLL_justify-content: flex-start;
  --mixin-BP9CpD0GxWoLL_list-style-position: outside;
  --mixin-BP9CpD0GxWoLL_padding-left: 40px;
  --mixin-BP9CpD0GxWoLL_position: relative;
  --mixin-BP9CpD0GxWoLL_list-style-type: decimal;
  --mixin-BP9CpD0GxWoLL_white-space: pre-wrap;
  --mixin-dme5hWL5IBl42_color: #000000;
  --mixin-dme5hWL5IBl42_font-size: 20px;
  --mixin-dme5hWL5IBl42_font-weight: 600;
  --mixin-dme5hWL5IBl42_line-height: 1.5;
  --mixin-dme5hWL5IBl42_white-space: pre-wrap;
  --mixin-DLMk0rE9TxM0v_color: #000000;
  --mixin-DLMk0rE9TxM0v_font-size: 16px;
  --mixin-DLMk0rE9TxM0v_font-weight: 600;
  --mixin-DLMk0rE9TxM0v_line-height: 1.5;
  --mixin-DLMk0rE9TxM0v_white-space: pre-wrap;
  --mixin-w-udQr3AMSCOw_color: #3291ff;
  --mixin-w-udQr3AMSCOw_white-space: pre-wrap;
  --mixin-jIYT6EXAEjXJY_white-space: pre-wrap;
  --mixin-wo7EaHXmvtQ09_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-5tW0FBtLAeS57_font-family);
  font-size: var(--mixin-5tW0FBtLAeS57_font-size);
  font-weight: var(--mixin-5tW0FBtLAeS57_font-weight);
  font-style: var(--mixin-5tW0FBtLAeS57_font-style);
  color: var(--mixin-5tW0FBtLAeS57_color);
  text-align: var(--mixin-5tW0FBtLAeS57_text-align);
  text-transform: var(--mixin-5tW0FBtLAeS57_text-transform);
  line-height: var(--mixin-5tW0FBtLAeS57_line-height);
  letter-spacing: var(--mixin-5tW0FBtLAeS57_letter-spacing);
  white-space: var(--mixin-5tW0FBtLAeS57_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-AsgJczbT2qeyK_color);
  font-weight: var(--mixin-AsgJczbT2qeyK_font-weight);
  font-size: var(--mixin-AsgJczbT2qeyK_font-size);
  line-height: var(--mixin-AsgJczbT2qeyK_line-height);
  letter-spacing: var(--mixin-AsgJczbT2qeyK_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-FPxtunTfDVwuI_color);
  font-size: var(--mixin-FPxtunTfDVwuI_font-size);
  font-weight: var(--mixin-FPxtunTfDVwuI_font-weight);
  letter-spacing: var(--mixin-FPxtunTfDVwuI_letter-spacing);
  line-height: var(--mixin-FPxtunTfDVwuI_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-hjuu-weRzaWvA_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-8SD2J7Igh9_Yg_color);
  font-size: var(--mixin-8SD2J7Igh9_Yg_font-size);
  font-weight: var(--mixin-8SD2J7Igh9_Yg_font-weight);
  line-height: var(--mixin-8SD2J7Igh9_Yg_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-u5m7RxKu2NfWP_color);
  font-size: var(--mixin-u5m7RxKu2NfWP_font-size);
  font-weight: var(--mixin-u5m7RxKu2NfWP_font-weight);
  line-height: var(--mixin-u5m7RxKu2NfWP_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-b0IS246sBReti_font-family);
  border-radius: var(--mixin-b0IS246sBReti_border-top-left-radius)
    var(--mixin-b0IS246sBReti_border-top-right-radius)
    var(--mixin-b0IS246sBReti_border-bottom-right-radius)
    var(--mixin-b0IS246sBReti_border-bottom-left-radius);
  padding: var(--mixin-b0IS246sBReti_padding-top)
    var(--mixin-b0IS246sBReti_padding-right)
    var(--mixin-b0IS246sBReti_padding-bottom)
    var(--mixin-b0IS246sBReti_padding-left);
  border-top: var(--mixin-b0IS246sBReti_border-top-width)
    var(--mixin-b0IS246sBReti_border-top-style)
    var(--mixin-b0IS246sBReti_border-top-color);
  border-right: var(--mixin-b0IS246sBReti_border-right-width)
    var(--mixin-b0IS246sBReti_border-right-style)
    var(--mixin-b0IS246sBReti_border-right-color);
  border-bottom: var(--mixin-b0IS246sBReti_border-bottom-width)
    var(--mixin-b0IS246sBReti_border-bottom-style)
    var(--mixin-b0IS246sBReti_border-bottom-color);
  border-left: var(--mixin-b0IS246sBReti_border-left-width)
    var(--mixin-b0IS246sBReti_border-left-style)
    var(--mixin-b0IS246sBReti_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-e8N422fG6IZzu_color);
  padding-left: var(--mixin-e8N422fG6IZzu_padding-left);
  border-left: var(--mixin-e8N422fG6IZzu_border-left-width)
    var(--mixin-e8N422fG6IZzu_border-left-style)
    var(--mixin-e8N422fG6IZzu_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-of4K8sB5yrVm8_font-family);
  border-radius: var(--mixin-of4K8sB5yrVm8_border-top-left-radius)
    var(--mixin-of4K8sB5yrVm8_border-top-right-radius)
    var(--mixin-of4K8sB5yrVm8_border-bottom-right-radius)
    var(--mixin-of4K8sB5yrVm8_border-bottom-left-radius);
  padding: var(--mixin-of4K8sB5yrVm8_padding-top)
    var(--mixin-of4K8sB5yrVm8_padding-right)
    var(--mixin-of4K8sB5yrVm8_padding-bottom)
    var(--mixin-of4K8sB5yrVm8_padding-left);
  border-top: var(--mixin-of4K8sB5yrVm8_border-top-width)
    var(--mixin-of4K8sB5yrVm8_border-top-style)
    var(--mixin-of4K8sB5yrVm8_border-top-color);
  border-right: var(--mixin-of4K8sB5yrVm8_border-right-width)
    var(--mixin-of4K8sB5yrVm8_border-right-style)
    var(--mixin-of4K8sB5yrVm8_border-right-color);
  border-bottom: var(--mixin-of4K8sB5yrVm8_border-bottom-width)
    var(--mixin-of4K8sB5yrVm8_border-bottom-style)
    var(--mixin-of4K8sB5yrVm8_border-bottom-color);
  border-left: var(--mixin-of4K8sB5yrVm8_border-left-width)
    var(--mixin-of4K8sB5yrVm8_border-left-style)
    var(--mixin-of4K8sB5yrVm8_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-nzUTa34vjTkZ1_display);
  flex-direction: var(--mixin-nzUTa34vjTkZ1_flex-direction);
  align-items: var(--mixin-nzUTa34vjTkZ1_align-items);
  justify-content: var(--mixin-nzUTa34vjTkZ1_justify-content);
  list-style-position: var(--mixin-nzUTa34vjTkZ1_list-style-position);
  padding-left: var(--mixin-nzUTa34vjTkZ1_padding-left);
  position: var(--mixin-nzUTa34vjTkZ1_position);
  list-style-type: var(--mixin-nzUTa34vjTkZ1_list-style-type);
  flex-column-gap: var(--mixin-nzUTa34vjTkZ1_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-BP9CpD0GxWoLL_display);
  flex-direction: var(--mixin-BP9CpD0GxWoLL_flex-direction);
  align-items: var(--mixin-BP9CpD0GxWoLL_align-items);
  justify-content: var(--mixin-BP9CpD0GxWoLL_justify-content);
  list-style-position: var(--mixin-BP9CpD0GxWoLL_list-style-position);
  padding-left: var(--mixin-BP9CpD0GxWoLL_padding-left);
  position: var(--mixin-BP9CpD0GxWoLL_position);
  list-style-type: var(--mixin-BP9CpD0GxWoLL_list-style-type);
  flex-column-gap: var(--mixin-BP9CpD0GxWoLL_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-dme5hWL5IBl42_color);
  font-size: var(--mixin-dme5hWL5IBl42_font-size);
  font-weight: var(--mixin-dme5hWL5IBl42_font-weight);
  line-height: var(--mixin-dme5hWL5IBl42_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-DLMk0rE9TxM0v_color);
  font-size: var(--mixin-DLMk0rE9TxM0v_font-size);
  font-weight: var(--mixin-DLMk0rE9TxM0v_font-weight);
  line-height: var(--mixin-DLMk0rE9TxM0v_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-w-udQr3AMSCOw_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
